<!doctype html>
<title>{{ title }}</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<nav>
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav">Emissions</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('home.map_by_coordinates') }}">Map by coordinates</a></li>
                <li><a href="{{ url_for('home.map_by_country') }}">Map by country</a></li>
                <li><a href="{{ url_for('data_center_select.choose_data') }}">Choose data</a></li>
                <li><a href="{{ url_for('data_center_upload.upload_data') }}">Upload data</a></li>
            </ul>
        </div>
    </div>
</nav>
<section class="content">
    {% block main %}{% endblock %}
</section>
