{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}

{% block main %}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-0lax{text-align:left;vertical-align:top}
tr.selected td{
    background-color: #7EFEB8;
}

table {
  width: 100%;
  border: 1px solid #000;
}
th.name {
  width: 40%;
}
th.compound {
  width: 10%;
}
th.physical-quantity {
  width: 10%
}
th.unit {
  width: 8%
}
th.year {
  width: 8%
}
th.grid_resolution {
  width: 8%
}

th.delete, th.select {
  width: 8%
}
button.confirm-delete {
 width: 20%;
 margin-left: 40%;
 margin-right: 40%;
 }


</style>

{% if delete_str %}
<h4>
{{ delete_str }}
    <form method="post" action="{{ url_for('data_center_select.confirm_delete', value=delete_hash) }}">
        <button class="confirm-delete" >Confirm delete</button>
    </form>

</h4>
{% endif %}

<table class="table table-striped">
    <caption style="font-size:25px">Available data:</caption>
    <thead>
    <tr>
        <th scope="col" class="name">Name</th>
        <th scope="col" class="compound">Compound</th>
        <th scope="col" class="physical-quantity">Physical quantity</th>
        <th scope="col" class="unit">Unit</th>
        <th scope="col" class="year">Year</th>
        <th scope="col" class="grid-resolution">Grid resolution</th>
        <th scope="col" class="select">Select</th>
        <th scope="col" class="delete">Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}

    <tr {% if row[0]==current_hash %} class="selected" {% endif %}>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ row[6] }}</td>
        <td>
            <form method="post" action="{{ url_for('data_center_select.select', value=row[0]) }}">
                <button type="submit">Select</button>
            </form>
        <td>
            <form method="post" action="{{ url_for('data_center_select.delete', value=row[0]) }}">
                <button type="submit">Delete</button>
            </form>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}