{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block main %}
<form method="POST" class="form" action="" role="form">
    {{ form.csrf_token }}
    <div class="form-row">
        <div class="form-group col-md-3">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="form-group">
                        {{ form.username.label(for="username" )}}
                        {{ form.username(class="form-control", id="username") }}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="form-group">
                        {{ form.password.label(for="password" )}}
                        {{ form.password(class="form-control", id="password") }}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %} 