{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends 'map_base.html' %}
{% block content %}
<div class="form-row">
    <div class="form-group col-md-12">
        <div class="form-group">
            {{ form.lon_min.label(for="lon_min" )}}
            {{ form.lon_min(class="form-control", id="lon_min", step=steps["lon"])}}
        </div>
    </div>
</div><div class="form-row">
    <div class="form-group col-md-12">
        <div class="form-group">
            {{ form.lon_max.label(for="lon_max" )}}
            {{ form.lon_max(class="form-control", id="lon_max", step=steps["lon"])}}
        </div>
    </div>
</div><div class="form-row">
    <div class="form-group col-md-12">
        <div class="form-group">
            {{ form.lat_min.label(for="lat_min" )}}
            {{ form.lat_min(class="form-control", id="lat_min", step=steps["lat"])}}
        </div>
    </div>
</div><div class="form-row">
    <div class="form-group col-md-12">
        <div class="form-group">
            {{ form.lat_max.label(for="lat_max" )}}
            {{ form.lat_max(class="form-control", id="lat_max", step=steps["lat"])}}
        </div>
    </div>
</div>
{% endblock %}
